body {
    background-color: hsl(0, 0%, 7%);
    color: #000000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #00ffdd; /* Neon green */
}

.cover {
    text-align: center;
    margin: 20px;
}

.cover img {
    width: 80%;
    border: 5px solid #000000;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

article {
    background-color: #1e1e1e;
    border: 2px solid #00fff2;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 45%;
}

article img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #1e1e1e;
    color: #00ffb7;
    text-align: center;
    padding: 10px;
}
body {
    background-color: black;
    color: neon rgb(0, 249, 203);
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #00ffd5; /* Neon Green */
}

p {
    color: #00ffd0; /* Light Gray for readability */
}

footer p {
    color: #00ffdd;
}
